body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    margin: 0em 4em 0.5em 4em;
}

header,
footer,
article {
    color: white;
    margin: 0em 4em 0.5em 4em;
}

footer {
    border-top: solid 1px;
    padding-top: 5px;
    border-color: crimson;
}

a {
    text-decoration: none;
}

#header-wrapper {
    background-color: crimson;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
}

#logo {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.social-top {
    height: 2.5em;
}

.social-icon {
    float: right;
}

.social-icon>img {
    width: 2em;
    height: 2em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#nav {
    height: 3em;
    width: 100%;
}

#header-bot {
    display: inline;
}

.menuitem {
    display: inline;
    color: white;
    padding-right: 0.5em;
    padding-left: 0.5em;
    line-height: 2.5em;
    font-size: 1.2rem;
}

.menuitem:hover {
    background-color: white;
    border-radius: 2px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    color: crimson;
}

#content-wrapper-img {
    padding-bottom: 5px;
}

#content-wrapper-img>img {
    /*border-bottom: solid 1px;*/
    padding-bottom: 5px;
    /*border-color: crimson;*/
    border-radius: 5px;
    display: block;
    margin: auto;
    width: 100%;
}

.content {
    padding-bottom: 1em;
}

#content-wrapper {
    color: black;
}

.text-area {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 3em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
}

.text-area-2 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 3em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
}

.text-area-2>img {
    border-radius: 5px;
    width: 12em;
    height: 12em;
}

.content {
    text-align: center;
    padding-top: 5px;
    border-top: solid 1px;
    border-color: crimson;
}

h2 {
    text-align: center;
}

.tg {
    border-collapse: collapse;
    border-spacing: 1;
    margin: 0px auto;
}

.tg td {
    font-size: 14px;
    padding: 10px 5px;
    border-width: 10px;
    overflow: hidden;
    word-break: normal;
}

.tg th {
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-yw4l {
    vertical-align: top
}

#footer-copyright {
    background-color: crimson;
    border-radius: 5px;
    padding: 0.5em 1em 0.5em 1em;
}

#geolocation>img {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 80%;
}