.transition {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    width: 100vw;
    margin: 0%;
}


/*header {
    color: #fff;
    margin: 0 4em .5em
}*/

.crimson {
    background-color: crimson;
}


/*footer {
    color: #fff;
    margin: 0 4em .5em;
    border-top: solid 1px;
    padding-top: 5px;
    border-color: #dc143c
}*/


/*article {
    color: #fff;
    margin: 0 4em .5em
}*/

a {
    text-decoration: none !important;
}


/*#header-wrapper {
    background-color: #dc143c;
    border-style: solid;
    border-width: thin;
    border-radius: 5px
}*/

.navbar-brand {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}


/*.social-top {
    height: 2.5em
}*/


/*.social-icon {
    float: right
}*/


/*.social-icon>img {
    width: 2em;
    height: 2em;
    padding: .5em
}*/

#bs-example-navbar-collapse-1>ul.nav.navbar-nav.navbar-right>li.dropdown.menuitem.open {
    background-color: #fff;
    color: #dc143c;
}

.menuitem {
    display: inline;
    color: #fff;
    padding-right: .5em;
    padding-left: .5em;
    line-height: 2.7em;
}

#bs-example-navbar-collapse-1>ul>li>a {
    color: white;
}

#bs-example-navbar-collapse-1>ul>li>a:hover {
    color: #dc143c;
}

.menuitem:hover {
    background-color: #fff;
    border-radius: 2px;
}

.btn-default {
    background-color: #dc143c;
    border: none;
}

.btn-default:hover {
    color: #dc143c;
    border: none;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}

.navbar-text {
    color: #fff;
}

.navbar-link {
    color: #fff !important;
}

.logout-form {
    float: left;
}

#slides {
    position: relative;
    height: 150px;
    padding: 0 5px 0 0;
    margin: 0 0 10px;
    list-style-type: none
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    padding-bottom: 5px;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s
}

.slide>img {
    border-radius: 5px;
    height: 100%;
    width: 100%
}

.active {
    opacity: 1;
    z-index: 2
}

.content {
    padding-bottom: 1em;
    text-align: center;
    padding-top: 5px;
    border-top: solid 1px;
    border-color: #dc143c
}

#content-wrapper {
    color: #000
}

.text-area {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    column-gap: 3em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em
}

.text-area-2 {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    column-gap: 3em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em
}

.text-area-2>img {
    border-radius: 5px;
    width: 12em;
    height: 12em
}

h2 {
    /*text-align: center*/
}

.tg {
    border-collapse: collapse;
    margin: 0 auto
}

.tg td {
    font-size: 14px;
    padding: 10px 5px;
    border-width: 10px;
    overflow: hidden;
    word-break: normal
}

.tg th {
    font-size: 14px;
    font-weight: 400;
    padding: 10px 5px;
    border-width: 1px;
    overflow: hidden;
    word-break: normal
}

.tg .tg-yw4l {
    vertical-align: top
}

#footer-copyright {
    background-color: #dc143c;
    border-radius: 5px;
    padding: .5em 1em
}

#geolocation>img {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 80%
}

.footer-bs {
    background-color: #dc143c;
    padding: 30px 30px 30px 30px;
    color: rgba(255, 255, 255, 0.70);
}

.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: transparent;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}

.footer-bs .footer-brand p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

#page-top>footer>div>div>div.col-md-4.footer-nav.hide-me.show-me>h4 {
    padding: 0px 15px;
}

#page-top>footer>div>div>div.col-md-4.footer-nav {
    padding: 10px 15px;
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.pages a {
    color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-nav ul.pages a:hover {
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
}

.footer-bs .footer-nav h4 {
    color: #292C29;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}

.footer-bs .footer-nav ul.list a {
    color: rgba(255, 255, 255, 0.80);
}

.footer-bs .footer-nav ul.list a:hover {
    color: rgba(255, 255, 255, 0.70);
    text-decoration: none;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}

.footer-bs .footer-social h4 {
    color: #292C29;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.footer-bs .footer-social li {
    padding: 5px 4px;
}

.footer-bs .footer-social a {
    color: rgba(255, 255, 255, 1.00);
}

.footer-bs .footer-social a:hover {
    color: rgba(255, 255, 255, 0.80);
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    color: #292C29;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-ns p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.70);
}

.acronym {
    font-size: 12px;
    color: #292C29;
    padding-right: 12px;
}

@media (min-width: 768px) {
    .footer-bs .footer-nav,
    .footer-bs .footer-social,
    .footer-bs .footer-ns {
        border-left: solid 1px rgba(255, 255, 255, 0.10);
    }
}